main {
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/35/58/0d/35580d64b9b883fd0e0678595fc2aefd.gif");
    height: 100vh;
}

.container-fluid {
    background-color:  rgba(0, 0, 0, 0.555);
    height: 100vh;
}

.my-text-green-fluo {
    color: rgb(0, 252, 34);
}
